<html>


<head>
<script type="text/javascript" src="/path/to/jquery-latest.js"></script> 
<script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<script>

    $(function() {
	
	
   var people = [];

   $.getJSON('../rows.json', function(data) 
   {
       $.each(data.data, function(i, f) 
	   {
		
          var tblRow = "<tr>" + "<td>" + f[9] + "</td>" +
           "<td>" + f[10] + "</td>" + "<td>" + f[11] + "</td>" +
		   "<td>" + f[8] + "</td>" + "</tr>"
           $(tblRow).appendTo("#musicdata");
     });

   });

});

</script>

<script>
	
	$function()  {
	
	var spotify =[];
	
	$.getJSON('../rows.json', function(data)
		{
			$.each(data.data, function(i, f)
			{
			var leenk = JSON.stringify(f[12],[string])
			$(leenk).appendTo("#musicdata");
			});
			});
			};
</script>

<script>
$(document).ready(function() 
    { 
        $("#musicdata").tablesorter({sortList: [[0,0], [1,0]]});); 
    } 
);
</script>
</head>
	<body>
	<h1 style center>Welcome to the Top 100 Songs!</h1>
	<div class='search'>
  <h3>Search for a song</h3>
  <form action ="search" method="post">
  <input name = "key" type="input" />
  <input value="Send" type="submit"/>
  </form>
  </div>
	   <center><table class="tablesorter" border="5">
  <thead>
  <tr>
            <th style width=100px>Title</th>
			<th>Artist</th>
			<th>Year</th>
			<th>Theme</th>
			<th>Spotify Link</th>
			</tr>
        </thead>
      <tbody id="musicdata">
		
       </tbody>
   </table></center>
	</body>
	</html>