<html>

<head>
<script type="text/javascript" src="/path/to/jquery-latest.js"></script> 
<script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
<script>

    $(function() {
	
	
   var people = [];

   $.getJSON('../rows.json', function(data) 
   {
       $.each(data.data, function(i, f) 
	   {
	   var title = f[9]
	   var artist = f[10]
	   var year = f[11]
	   var theme = f[8]
	   var spotify = f[12];
		var spotify_link = spotify;
          var tblRow = "<tr>" + "<td>" + title + "</td>" +
           "<td>" + artist + "</td>" + "<td>" + year + "</td>" +
		   "<td>" + theme + "</td>" +
		   "<td>" + spotify_link + "</td>" + "</tr>"
           $(tblRow).appendTo("#musicdata");
     });

   });

});

</script>
<p><%=link_to 'Return Home', ../music/index%></p>
  <title>Search results</title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Year</th>
        <th>Theme</th>
		<th>Spotify Link</th>
      </tr>
   </thead>

    <tbody>

    </tbody>
  </table>
  <p><%=link_to 'Return Home', root_path%></p>
</body>

</html>