<!DOCTYPE html>
<html>
<head>
<a href="/log_in" rel="login">Log in</a>
<a href="/sign_up" rel="signup">Sign up</a>
<a href="../music/index" rel="index">Home</a>
  <title>Top</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%flash.each do|name,msg|%>
<%=content_tag :div,msg,:id=>"flash#{name}"%>

<%end%>
<%= yield %>

</body>
</html>
